#menu-header{
    background-image: linear-gradient(to right, #76a0ef, #1b61e4);
}

.small-height{
    margin:0px !important;
    font-size: 12px;
}

.absolute{
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 0.7;
}

.modal-xl-size{
    max-width: 90% !important;
}

.table-normal-standerd-size{
    font-size: 13px;
    max-height: 370px;
    height: 370px;
    overflow: auto;
}

.table-modal-standerd-size{
    font-size: 13px;
    max-height: 370px;
    height: 252px;
    overflow: auto;
}

.font-size-sm{
    font-size: 12px;
}

.font-size-md{
    font-size: 13px;
}

.image-upload > input{
    display: none;
}

.red{
    color: red;
}

.tleft{
    text-align: left;
}

.tright{
    text-align: right;
}

.tcenter{
    text-align: center;
}

.delay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    background: rgba(0,0,0,0.2);
    z-index: 998;
    display: none;
}

.modal-backdrop {
    position: inherit;
}

.tleft{
    text-align: left;
}

.tright{
    text-align: right;
}













